body,
html,
* {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightblue;
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
} 
.btncontainer {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around

}

.header {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around
}

.card {
    font-size: 3rem;
    background-color: aliceblue;
    padding: 2%;
    margin: 2rem 2rem;
    border: 1px solid aliceblue;
    border-radius: 5px;
    box-shadow: 10px 10px cornflowerblue;
    width: 450px;
    height: 40vh;
}
.cardimg {
    outline-offset: 1rem;
    width: 100%;
    height: 50%;
    object-fit: contain;
    margin: 2rem auto;
    border-radius: 5px;
}
.cardtitle {
  background-color: lightblue;
  font-size: 5rem;
  width: 140rem;
  text-align: center;
  margin: 6rem auto;
  border: 3px solid midnightblue;
  border-radius: 5px;
  box-shadow: 10px 10px cornflowerblue; 
}
h3{
  border-radius: 5px;
  margin-top: 2rem;
}

h4{
  border-radius: 5px;
  margin-top: 0rem;
}
.btn {
  background-color: white;
    border-radius: 10px;
    border-color: black;
    font-size: 3rem;
}

:root{
  --dark-blue: #2e5984;
  --light-lightblue: #bcd2e8;
  --blue: #73a5c6;
  --dark-pink: #c63287;
  --light-pink: #ff99da;
  --pink: #e366b1;
}

body.btn1{
  --primary: var(--dark-blue);
  --secondary: var(--light-lightblue);
  --tertiary: var(--blue);
}

body.btn2{
  --primary: var(--dark-pink);
  --secondary: var(--light-pink);
  --tertiary: var(--pink);
}

.btn1{
  background-color: white;
    border-radius: 10px;
    border-color: black;
  font-size: 3rem;
}

.btn2{
  background-color: white;
    border-radius: 10px;
    border-color: black;
  font-size: 3rem;
}

h2{
  font-size: 3rem;
  text-align: center;
}